<div class="md:flex h-[100vh] items-center">
    <div class="hidden md:flex w-2/3 items-center justify-center">
        <img src="/assets/svg/forgot-password.svg" alt="" class="w-3/4 block">
    </div>
    <div class="flex-auto flex items-center h-full">
        <div class="my-auto w-full">
            <img src="/assets/apple-touch-icon.png" class="block mx-auto mt-8">
            <h1 class="text-4xl text-indigo-500 text-center font-cursive mb-8">Prstame</h1>
            <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()" class="md:w-2/3 w-4/5 mx-auto"><h2 class="text-3xl flex items-center"><a class="bg-indigo-500 p-2 me-2 flex rounded-full items-center justify-center"
                    [routerLink]="['/auth', 'login']"><span class="material-symbols-outlined text-white">chevron_left</span></a> Reset password
            </h2>
                <div class="my-6">
                    <input autofocus type="email" placeholder="Email" formControlName="email"
                        class="border block w-full px-4 py-3" required>
                </div>
                <button [disabled]="recoveryForm.invalid" class="mb-6 disabled:hover:bg-indigo-300 disabled:bg-indigo-300 disabled:cursor-not-allowed block w-full hover:bg-indigo-700 px-4 py-3 bg-indigo-500 text-white"
                    type="submit">
                    {{ (requesting | async) ? '' : 'Submit' }}
                    <span *ngIf="requesting | async" class="material-symbols-outlined animate-spin">sync</span>
                </button>
                <div *ngIf="(failed | async)" class="bg-red-500 mt-8 font-bold text-white rounded-xl mx-auto flex py-2 px-4 items-center justify-between">
                    <div class="text-white">{{ message | async }}</div>
                    <span class="material-symbols-outlined">check_circle</span>
                </div>
                <div *ngIf="(success | async)" class="bg-indigo-500 mt-8 font-bold text-white rounded-xl mx-auto flex py-2 px-4 items-center justify-between">
                    <div class="text-white">{{ message | async }}</div>
                    <span class="material-symbols-outlined">check_circle</span>
                </div>
            </form>
        </div>
    </div>
</div>